@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

body {
  overflow-x: hidden;
  font-family: 'Lato', sans-serif;
  color: #505962;
}

.offset:before {
  display: block;
  content: "";
  height: 4rem;
  margin-top: -4rem;
}

/* Navigation */

.navbar {
  text-transform: uppercase;
  font-weight: 700;
  font-size: .9rem;
  letter-spacing: .1rem;
  background: rgba(0, 0, 0, 0.6)!important;
}

.navbar-brand img {
  height: 2rem;
}

.navbar-nav li {
  padding-right: .7rem;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
  padding-top: .8rem;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
  color: #1ebba3;
}

/** Landing Page **/
.home-inner {
  background-image: url("../img/plant.jpg");
}

.caption {
  width: 100%;
  max-width: 100%;
  position: absolute;
  top: 38%;
  z-index: 1;
  color: #1ebba3;
  text-transform: uppercase;
}

.caption h1 {
  font-size: 3.8rem;
  font-weight: 700;
  letter-spacing: .3rem;
  text-shadow: .1rem .1rem .8rem black;
  padding-bottom: 1rem;
}

.caption h3 {
  font-size: 2rem;
  text-shadow: .1rem .1rem .5rem black;
  padding-bottom: 1.6rem;
}

.btn-lg {
  border-width: medium;
  border-radius: 0;
  padding: 0.6rem 1.3rem;
  font-size: 1.1rem;
}

.narrow {
  width: 75%;
  margin: 1.5rem auto;
  padding-top: 2rem;
}

.narrow h1 {
  font-size: 2.4rem;
}

.btn-secondary {
  border-width: medium;
  border-radius: 0;
  text-transform: uppercase;
  font-size: 1.2rem;
  padding: .6rem 1.2rem;
  color: white;
  background-color: #1ebba3;
  border-color: #1ebba3;
}

.btn-secondary:hover {
  background-color: #189582;
  border-color: #189582;
}

.jumbotron {
  margin-bottom: 0;
  padding: 2rem 0 3.5rem;
  border-radius: 0;

}

h3.heading {
  font-size: 1.9rem;
  font-weight: 700;
  text-transform: uppercase;
}

.heading-underline {
  width: 3rem;
  height: .2rem;
  background-color: #1ebba3;
  margin: 0 auto 2rem;
}

.icon-color {
  color: #1ebba3;
}

footer {
  background-color: #40474e;
  color: white;
  padding: 2rem 0 2rem;
  margin-top: 1rem;
}

footer img {
  height: 2rem;
  margin: 1.5rem 0;
}

footer a {
  color: white;
}

.social-icon {
  font-size: 1.6rem;
  margin: 1.2rem .5rem 0 0;
}

footer .social-icon:hover {
  color: #1ebba3!important;
}

hr.socket {
  width: 100%;
  border-top: .2rem solid #666b71;
  margin-top: 3rem;
}


/** FIXED STYLES **/
/*--- Extra Bootstrap Column Padding --*/
[class*="col-"] {
  padding: 1rem;
}

/*--- Bootstrap Mobile Gutter Fix --*/
.row, .container-fluid {
  margin-left: 0px!important;
  margin-right: 0px!important;
}

/*--- Fix for Fixed Navbar jumping on scroll --*/
.fixed-top  {
  -webkit-backface-visibility: hidden;
}

/*--- Fixed Landing Page Section --*/
.landing {
  position: relative;
  width: 100%;
  height: 100vh;
  display: table;
  z-index: -1;
}

.home-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.home-inner {
  position: fixed;
  display: table;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform;
}

/*--- iOS Fixed Background Image --*/
.fixed-background {
  position: relative;
  width: 100%;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -999!important;
}
.fixed {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform;
}